*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 16px;
}
.images-section{
    display: flex;
    gap: 16px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content{
    display: flex;
    flex-direction: column;
}
.content-header{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.green-content{
    color: #29aa04;
    font-size: 24px;
    font-weight: 600;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
h2{
    font-size: 24px;
    font-family: 600;
}
p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.varient-content{
    display: flex;
    gap: 4px;
}
.size-header{
    display: flex;
    justify-content: space-between;
    h4{
        font-size: 20px;
        margin-bottom: 24px;
        margin-top: 48px;
    }
}
.sizes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 40px;
}
.size{
    border: 1px solid black;
    font-weight: 600;
    padding: 12px 16px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
button{
    padding: 20px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
    &:first-child{
        background: black;
        color: white;
    }
    &:last-child{
        background: white;
        color: black;
        border: 1px solid black;
    }
}

