*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}
body{
    font-family: sans-serif;
    background-color: #fad1d1;
    padding: 80px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9e4e4;
    width: 1200px;
    margin:0 auto;
    gap: 20;
    /* border */
    border: 2px dashed red;
    padding: 24px 48px;
}
.img1{
    width: 235px;
    height: 315px;
    border-radius: 70px;
}
h1{
    font-size: 60px;
    text-align: center;
    font-weight: 900;
}
h2{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
p{
    font-size: 32px;
    text-align: justify;
    font-weight: 900;
    color: black;
}

